(
    satysfi: "/usr/local/bin/satysfi",
    pdftoppm: "/usr/bin/pdftoppm",
    satyh: "/usr/share/satymathbot/empty.satyh",
    workdir: "/tmp/satymathbot",
    capacity: 4096,
    sock: Tcp(3000),
    healthcheck_sock: Tcp(3001),
)
