(
    satysfi: "/Users/namachan/.opam/4.11.0/bin/satysfi",
    pdftoppm: "/opt/homebrew/bin/pdftoppm",
    satyh: "./satysfi/empty.satyh",
    workdir: "/tmp/satymathbot",
    capacity: 4096,
    sock: Tcp(3000),
    healthcheck_sock: Tcp(3001),
)
