(
    satysfi: "/usr/local/bin/satysfi",
    pdftoppm: "/usr/bin/pdftoppm",
    satyh: "satysfi/empty.satyh",
    workdir: "/tmp/satymathbot",
    capacity: 4096,
    sock_path: "sock/app.sock",
    healthcheck_sock_path: "sock/app_health.sock",
)
